{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Além da Sala - Home</title>
    <link rel="stylesheet" href="{% static 'alemdasala/css/style.css' %}">
</head>
<body>
    <div class="topo">
        <div class="logo-nome">
            <img src="{% static 'alemdasala/css/logo.png' %}" alt="Logo" class="logo">
            <p class="nome-site">Além da Sala</p>
        </div>
        {% if not request.user.is_authenticated %}
            <a href="{% url 'login' %}">
                <div class="perfil-icon"></div>
                
            </a>
        {% else %}
            <div class="perfil-menu-wrapper">
                <div class="perfil-icon">
                    <img src="{% static 'alemdasala/css/profileIcon.png' %}" alt="Perfil">
                </div>
                <div class="perfil-dropdown">
                    <form method="post" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <button type="submit" class="logout-btn">Logout</button>
                    </form>
                </div>
            </div>
        {% endif %}
    </div>

    <div class="container">
    <div class="coluna-esquerda">
      <div class="card destaque">
        
            <a href="{% url 'logsentimento' %}" style="text-decoration:none">
              <h2>Como você está se sentindo hoje?</h2>
              <p>Registre seu humor hoje e veja o retrospecto</p>
            </a>
                    
      </div>
      <div class="card fale">
            <a href="{% url 'profissionais' %}" style="text-decoration:none">
                <h2>Fale com alguém</h2>
                <p>Converse com um profissional da área para obter ajuda ou suporte</p>
            </a>
         
      </div>
    </div>

    <div class="coluna-direita">
      <div class="card respiracao">
          <a href="{% url 'respiracao' %}" style="text-decoration:none">
          <h2>Respiração guiada</h2>
            <p>Faça uma pausa e respire um pouco para aliviar o estresse</p>
          </a>
      </div>
      <div class="card meditacao">
            <a href="{% url 'meditacao' %}" style="text-decoration:none">
                <h2>Meditação rápida</h2>
                <p>Medite com sons da nossa biblioteca extensa</p>
            </a>
      </div>
      <div class="card organize">
            <a href="{% url 'organiza' %}" style="text-decoration:none">
                <h2>Organize suas tarefas</h2>
                <p>Não fique sobrecarregado, liste suas tarefas</p> 
            </a>
      
      </div>
    </div>
  </div>
</body>
</html>