{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'alemdasala/css/style.css' %}">
</head>
<body>
    <header class="topo">
        <a href="#"> 
            <img src="{% static 'alemdasala/css/logo.png' %}" alt="Logo" class="logo">
        </a>
    </header>
    
    <div class="login-container">
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <form method="POST">
            {% csrf_token %}
            <label for="email">Nome de usuário</label>
            <input type="text" id="email" name="username" placeholder="Digite seu nome de usuário">

            <label for="senha">Senha</label>
            <input type="password" id="senha" name="password" placeholder="Senha">

            <button type="submit">Sign In</button>
            <a href="{% url 'register' %}">Ainda não tem conta?</a>
        </form>
    </div>
</body>
</html>