{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Meditação para Foco</title>
    <link rel="stylesheet" href="{% static 'alemdasala/css/med_foco.css' %}">
</head>
<body>
    <div class="container">
        <header>
            <a href="{% url 'home' %}"> 
            <img src="{% static 'alemdasala/css/logo.png' %}" alt="Logo Além da Sala">
            </a>
            <h1>Além da Sala</h1>
        </header>

        <main>
            <h2>Meditação para Foco</h2>
            <p>Reserve um momento para se concentrar e aumentar sua produtividade.</p>
            
            <div class="video-container">
                <iframe src="https://www.youtube.com/embed/DWhImhoSAQE"  
                        title="Meditação para Foco" 
                        frameborder="0" 
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                        allowfullscreen>
                </iframe>
            </div>
        </main>
    </div>
</body>
</html>