{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Meditação Guiada - Além da Sala</title>
    <link rel="stylesheet" href="{% static 'alemdasala/css/medita.css' %}">
</head>
<body>
    <!-- Cabeçalho padrão -->
    <header class="topo">
        <div class="logo-nome">
            <a href="{% url 'home' %}"> 
                <img src="{% static 'alemdasala/css/logo.png' %}" alt="Logo" class="logo">
            </a>
            <p class="nome-site">Além da Sala</p>
        </div>
        <div class="perfil-icon">
            <img src="{% static 'alemdasala/css/profileIcon.png' %}" alt="Perfil">
        </div>
    </header>

    <!-- Conteúdo principal -->
    <main class="main">
        <div class="container">
            <div class="card">
                <h1>Meditação Guiada</h1>
                <p>Siga este exercício de respiração para se acalmar e relaxar.</p>

            <div class="button-grid">
                <a href="{% url 'med_relaxamento' %}" class="option">Relaxamento</a>
                <a href="{% url 'med_foco' %}" class="option">Foco</a>
                <a href="{% url 'med_gratidao' %}" class="option">Gratidão</a>
                <a href="{% url 'med_estresse' %}" class="option">Alívio do Estresse</a>

            </div>
        </div>
    </main>
</body>
</html>